<div class="row">
  <div class="col-md-12">
    <div class="table table-responsive">
      <table class="table">
        <thead>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="card in cardListCtrl.elencoCarte">

            <td>
              <a ui-sref="card-detail({cardName:card.name})">
                <img src="{{card.imagesrc}}" class="img-responsive" width="60" alt="card image">
              </a>
            </td>
            <td>
              <p><b>{{card.name}}</b></p> -
              <p><i>{{card.label}}</i></p>
            </td>
            <td>
              <p>{{card.points}}</p>
            </td>
            <td>
              <p>
                {{card.rarity_name}}
              </p>
            </td>
            <td>
              <div class="well">
                <ul class="list-inline">
                  <li ng-repeat="side in filtraSides(card.sides) track by $index">
                    <!-- qui ho intercettato con lo switch ma è cmq sbagliato perche se vedi intercetto se è: "1ranged", dovrei intercettare se è ranged.
                    Quindi si dovrebbe migliroare l'intercettazione lato JS, cmq è nu casin, va pensata con calma per trovare il modo in cui ha fatto lui -->
                    <div ng-switch="side">
                      <span ng-switch-when="1ranged">
                        <img src="assets/img/ranged.jpg" width="15" class="img-responsive" alt="">
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </td>
            <td> </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>