<!DOCTYPE html>
<html ng-app="App" lang="it-IT">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <link rel="icon" type="image/x-icon" href="img/favicon/favicon.ico" />
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" property="stylesheet">
    <style type="text/css">
    .rosso {color: red}
    .verde {color: green}
    .blu {color: blue}
    </style>
</head>
<!-- ====================================== CORE ====================================== -->

<body ng-controller="rootController as ctrl">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <input type="text" ng-model="ctrl.user.name"><br>
                <input type="text" ng-model="ctrl.user.surname"><br>
                <input type="number" ng-model="ctrl.user.age">
                <hr>
                <label for="">filtra per nome</label>
                <input type="text" ng-model="filtro">
                <button ng-click="ctrl.sortByRegione('Lazio')">Sort by Lazio</button>
                <button ng-click="ctrl.sortByRegione('Campania')">Sort by Campania</button>
                <div class="table">
                    <table class="table">
                        <thead>
                            <th>Codice</th>
                            <th>Nome</th>
                            <th>Regione</th>
                        </thead>
                        <tbody>
                            <!--<tr ng-repeat="city in elencoCitta | filter:{ regione: 'L', nome: 'M' } ">-->
                            <tr ng-repeat="city in elencoCitta | filter:{ regione:filtro} ">
                                <td>{{city.codice}}</td>
                                <td>{{city.nome}}</td>
                                <td>{{city.regione}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-6">
                <h1 ng-bind="ctrl.user.name + ' ' + ctrl.user.surname"></h1>
                <p ng-bind="ctrl.user.age"></p>
                <p ng-bind="ctrl.greetings()"></p>
                <!--NON RENDERIZZA SE NON VERO-->
                <h1 ng-if="!ctrl.check">Prova</h1>
                <!--AGISCE SU CSS-->
                <h1 ng-show="ctrl.check">Prova</h1>
                <hr>

                <!--SWITCH-->
                <div ng-switch="ctrl.user.age">
                    <span ng-if="ctrl.user.age > 18" style="color:red">asdasdasd</span>
<span ng-switch-when="18" style="color:green">Bravo ho {{ctrl.user.age}} anni</span>
<span ng-switch-default style="color:black">Non hai indovinato riprova</span>
</div>
<hr>
<!--NG CLASS-->
<p>Colore: <input type="text" ng-model="colore"></p>
<p ng-class="colore">È stato scelto il colore {{colore}}</p>
<hr>
<p>Colore: <input type="text" ng-model="colore"></p>
<!--"quadno colore  è uguale == 'rosso' valida ? 'rosso' altrimenti : 'nero'"-->
<p ng-class="colore == 'rosso' ? 'rosso' : 'nero'">È stato scelto il colore {{colore}}</p>
<hr>



<div class="row">
    <div ng-class="ctrl.user.age >= '18' ? 'col-xs-6' : 'col-xs-12'">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-if="ctrl.user.age >= '18'">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
</div>
<hr>

<p>Crea la tua password: <input type="password" ng-model="password"></p>

<p ng-class="{'rosso': password.length < 4, 'giallo': password.length >= 4 && password.length < 8, 'verde': password.length >= 8}">
    Robustezza della password
</p>
<hr>

<div class="table">
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Città</th>
            <th>Telefono</th>
            <th>Email</th>
        </thead>
        <tbody>
            <!--<tr ng-repeat="user in ctrl.users  track by $index">-->
            <!--<tr ng-repeat="user in ctrl.users | orderBy:'-name'">-->
            <tr ng-repeat="user in ctrl.users | filter:{} ">
                <td>{{$index}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.city}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<select ng-model="selectedItem" ng-options="citta.nome group by citta.regione for citta in elencoCitta" value="{}">
</select>
<hr>
<div class="row">
    <div class="col-xs-12">
        <!-- FILTER INSIDE -->
        <h1>{{"joshua mosca" | limitTo:4}}</h1>
        <p>{{3.14159 | number:0}}</p>
        <p>{{3.14159 | number:2}}</p>
        <p>{{1200.451 | currency:"€":0}}</p>
        <p>{{ctrl.dataOra | date:"EEEE dd/MM/yy"}}</p>
    </div>
</div>

</div>
</div>
</div>
<!-- SCRIPT LOADING -->
<script src="node_modules/angular/angular.js"></script>
<script src="components/app.components.js"></script>
<script src="shared/services/app.services.js"></script>
<script src="app.js"></script>
</body>

</html>