<div class="row">
  <div class="col-md-12">
    <h2>I nostri prodotti</h2>
    <ul class="list-unstyled row">
      <li class="col-md-3" ng-repeat="prodotto in prodListCtrl.elencoProdotti track by $index" >
        <a ui-sref="product-detail({productName: prodotto.nome})">
          <img src="{{prodotto.image}}" class="img-responsive" alt="{{prodotto.nome}}">
          <h2> {{prodotto.nome}}</h2>
          <h4> {{prodotto.prezzo}}</h4>
        </a>
      </li>
    </ul>

    <p>{{prodListCtrl.ciao}}</p>
    <!--<p>
  {{prodListCtrl.elencoProdotti}}
</p>
-->
  </div>
</div>