<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">AngularCourse</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="dashboard" ui-sref-active="active">Dashboard</a></li>
                <li><a ui-sref="product" ui-sref-active="active">Prodotti</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <!--<li>{{prodListCtrl.componentName}}</li>-->
                <li>
                    <button class="btn btn-default" ng-click="prodCtrl.goTo('dashboard')">Torna alla home</button>
                </li>
            </ol>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="row">
        <div class="col-md-4">
            <img src="{{prodCtrl.prodotto.image}}.png" class="img-responsive" alt="{{prodCtrl.prodotto.nome}}">
        </div>
        <div class="col-md-8">
            <h1>
                {{prodCtrl.nomeProdotto}}
            </h1>
            <h4>
                {{prodCtrl.prodotto.prezzo}}
            </h4>
            <h2 ng-if="prodCtrl.nomeProdotto == 'Angular'">
                Angular è in offerta a 2€
            </h2>
        </div>
    </div>
</div>