<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <!--<li>{{cardListCtrl.componentName}}</li>-->
                <li>
                    <button class="btn btn-default" ng-click="prodDetailCtrl.goTo('dashboard')">Torna alla home</button>
                </li>
            </ol>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading" ng-class="">
                    <h2>{{cardDetailCtrl.card.name}}</h2>
                    <p>{{cardDetailCtrl.card.subtitle}}</p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <img src="{{cardDetailCtrl.card.imagesrc}}" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h2></h2>
                            <p>{{cardDetailCtrl.card.text}}</p>
                            <span ng-if="cardDetailCtrl.card.rarity_code === 'C' " style="color: blue;">{{cardDetailCtrl.card.rarity_name}}</span>
<span ng-if="cardDetailCtrl.card.rarity_code === 'R' " style="color: green;">{{cardDetailCtrl.card.rarity_name}}</span>
<span ng-if="cardDetailCtrl.card.rarity_code === 'L' " style="color: purple;">{{cardDetailCtrl.card.rarity_name}}</span>
<span ng-if="cardDetailCtrl.card.rarity_code === 'U' " style="color: yellow;">{{cardDetailCtrl.card.rarity_name}}</span>
<span ng-if="cardDetailCtrl.card.rarity_code === 'S' " style="color: grey;">{{cardDetailCtrl.card.rarity_name}}</span>

</div>
</div>
</div>
</div>
</div>
</div>
</div>