<button ng-click="citiesCtrl.goTo('dashboard')">Torna Indietro</button>
<h1>Elenco Citta</h1>
<div class="table table-responsive">
    <table class="table">
        <thead>
            <th>
                Nome
            </th>
            <th>
                Regione
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="citta in citiesCtrl.elenco">
                <td>
                    <!--<a href="cities-detail/{{citta.nome}}">{{citta.nome}}</a>-->
                    <a ui-sref="cities-detail({cityName: citta.nome})">{{citta.nome}}</a>
                </td>
                <td>
                    {{citta.regione}}
                </td>
            </tr>
        </tbody>
    </table>
</div>